/* Write your code here: */
h1,
h2 {
  color: blueviolet;
}

/* parent and child */
.box > p {
  color: firebrick;
}

/* ancestor and descendant */
.box li {
  color: blue;
}

/* chaining */
li.done {
  color: green;
}

/* combining the selectors above */
ul p.done {
  font-size: 0.5rem;
}
